@font-face{
    font-family : 'technofosiano';
    src : url("https://files.catbox.moe/epr3hv.ttf");
}
@font-face{
    font-family : 'shellybu';
    src : url("https://files.catbox.moe/dkpm0w.ttf");
}
@font-face{
    font-family : 'cooperbits';
    src : url("https://files.catbox.moe/aiz774.ttf");
}
@font-face{
    font-family : 'kakomi';
    src : url("/fonts/KakomiC.ttf");
}
@font-face{
    font-family : 'morningtea';
    src : url("/fonts/MorningTea.ttf");
}
@font-face{
    font-family : 'penny';
    src : url("/fonts/PennyForThoughts.ttf");
}
@font-face{
    font-family : 'yurumoji';
    src : url("/fonts/yurumoji.ttf");
}
@font-face{
    font-family : 'daydream';
    src : url("/fonts/Daydream.ttf");
}
@font-face{
    font-family : 'proto';
    src : url("/fonts/ProtoPixel1.ttf");
}