@font-face{
    font-family : 'technofosiano';
    src : url("https://files.catbox.moe/epr3hv.ttf");
}
@font-face{
    font-family : 'shellybu';
    src : url("https://files.catbox.moe/dkpm0w.ttf");
}
@font-face{
    font-family : 'cooperbits';
    src : url("https://files.catbox.moe/aiz774.ttf");
}
@font-face{
    font-family : 'kakomi';
    src : url("/fonts/KakomiC.ttf");
}
@font-face{
    font-family : 'morningtea';
    src : url("/fonts/MorningTea.ttf");
}
@font-face{
    font-family : 'penny';
    src : url("/fonts/PennyForThoughts.ttf");
}
@font-face{
    font-family : 'yurumoji';
    src : url("/fonts/yurumoji.ttf");
}
@font-face{
    font-family : 'daydream';
    src : url("/fonts/Daydream.ttf");
}
@font-face{
    font-family : 'proto';
    src : url("/fonts/ProtoPixel1.ttf");
}
@font-face{
    font-family : 'single';
    src : url("/fonts/SingleDay-Regular.ttf");
}
@font-face{
    font-family : 'kawaii';
    src : url("/fonts/kawaii-desu.ttf");
}
@font-face{
    font-family : 'love';
    src : url("/fonts/love.ttf");
}
@font-face{
    font-family : 'face';
    src : url("/fonts/pixelface_memesbruh03.ttf");
}
@font-face{
    font-family : 'sweet';
    src : url("/fonts/sweet_heart.ttf");
}
@font-face{
    font-family : 'cutie';
    src : url("/fonts/CutiePop.ttf");
}
@font-face{
    font-family : 'hachi';
    src : url("/fonts/HachiMaruPop-Regular.ttf");
}
@font-face{
    font-family : 'mochiy';
    src : url("/fonts/MochiyPopOne-Regular.ttf");
}
@font-face{
    font-family : 'poprum';
    src : url("/fonts/PopRumCute.otf");
}